*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  text-decoration: none;
  list-style: none;
}

//Popular component styling
.popular{
  text-align: center;
  padding: 1rem 0;
  background-color: black;
  
}

//TopRated component styling
.topRated{
  text-align: center;
  padding: 1rem 0;
  background-color: black;
  
}

//Upcoming component styling
.upcoming{
  text-align: center;
  padding: 1rem 0;
  background-color: black;

  
}