*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  text-decoration: none;
  list-style: none;
}

//Popular component styling
.popular{
  text-align: center;
  padding: 1rem 0;
  background-color: black;
  >h3{
    text-align: left;
    padding: 6px 1rem;
    border: 1px solid rgb(118, 116, 116);
  }
}

//TopRated component styling
.topRated{
  text-align: center;
  padding: 1rem 0;
  background-color: black;
  >h3{
    text-align: left;
    padding: 6px 1rem;
    border: 1px solid rgb(118, 116, 116);
  }
  
}

//Upcoming component styling
.upcoming{
  text-align: center;
  padding: 1rem 0;
  background-color: black;
  >h3{
    text-align: left;
    padding: 6px 1rem;
    border: 1px solid rgb(118, 116, 116);
  }
  
}